@import './Variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  background-color: $main-color;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.fetching-spinner {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(0, -50%);
  z-index: 100;
}
