@import './Variables.scss';

.search-input-wrapper {
    margin: auto;
    padding: 20px;
    background-color: $main-color;
    border-bottom: 1px solid #cacaca;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .search-input {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .search-input > * {
        flex-wrap: nowrap !important;
    }

    .input {
        margin-right: 5px;
        border-radius: 2px;
    }

    button {
        border-radius: 2px;
        margin-right: 5px;
    }

    .dropdown {
        button {
            min-width: 60px;
        }
    }
}

.search-filters {
    width: 100%;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    font-size: 1.2rem;
    border-radius: 2px;
    background-color: #1b1b1b;

    button {
        outline: none;
        background-color: #3f3f3f;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: #fff;
        border: none;
        padding: 8px;
        border-radius: 2px;
        font-size: 0.7rem;
        min-width: 60px;

        &:nth-child(2) {
            margin-left: auto;
        }

        &:nth-child(3) {
            margin-left: 5px;
        }
    }

    .view-item{
        padding: 2px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
        font-size: 0.9rem;
        background-color: #3f3f3f;
        border-radius: 2px;
        cursor: pointer;
        opacity: 1;
    }

    .view-item-selected {
        opacity: 0.5;
    }

    .order-by-button {
        margin-left: 5px;

        svg {
            margin-left: 5px;
        }
    }

    .button-selected {
        opacity: 0.5;
    }
}

@media (max-width: 600px) {
    .search-input-wrapper {
        padding: 10px;
    }

    .search-filters {
        padding: 10px;
    }
}