@import './Variables.scss';

.navigation-wrapper {
    margin-bottom: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.search-input-wrapper {
    margin: auto;
    padding: 20px;
    background-color: $main-color;
    border-bottom: 1px solid #cacaca;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .search-input {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .search-input > * {
        flex-wrap: nowrap !important;
    }

    .form-inline {
        width: 100%;
    }

    .input {
        border-radius: 2px;
        max-width: 280px;
        font-size: 1rem;
        margin: 0 5px;
    }

    button {
        border-radius: 2px;

        font-size: 1rem;

        &:nth-child(3) {
            margin-right: auto;
        }

        &:nth-child(4) {
            margin-left: 5px
        }
    }

    .dropdown {
        button {
            min-width: 60px;
        }
    }
}

.search-filters {
    width: 100%;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    font-size: 0.7rem;
    border-radius: 2px;
    background-color: #1b1b1b;

    button {
        outline: none;
        background-color: #3f3f3f;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: #fff;
        border: none;
        padding: 5px;
        border-radius: 2px;
        min-width: 50px;

        &:nth-child(1) {
            margin-right: auto;
        }

        &:nth-child(n+2) {
            margin-left: 5px;
        }
    }

    .delete-videos-btn {

        color: #fff;
        font-size: 1rem;
        cursor: pointer;


        &:hover svg{
            color: $accent-color;
        }
        
    }

    .delete-videos-btn-inactive {
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        opacity: 0.5;
    }

    .view-item{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
        font-size: 0.9rem;
        background-color: #3f3f3f;
        border-radius: 2px;
        cursor: pointer;
        opacity: 1;
    }

    .view-item-selected {
        opacity: 0.5;
    }

    .order-by-button {
        margin-left: 5px;

        svg {
            margin-left: 5px;
        }
    }

    .button-selected {
        opacity: 0.5;
    }
}

@media (max-width: 600px) {
    .search-input-wrapper {
        padding: 10px;

        .input {
            min-width: 100px;
            font-size: 0.8rem;
            margin-right: auto;
        }
        
        button {
            font-size: 0.8rem;

            &:nth-child(3) {
                display: none;
            }
        }
    }

    .search-filters {
        padding: 10px;
        font-size: 0.6rem;

        button {
            padding: 5px 8px;
            min-width: 40px;
        }
    }
}