@import './Variables.scss';

.search-input-wrapper {
    margin: auto;
    background-color: $main-color;
    padding: 20px;
    border-bottom: 2px solid #cacaca;
    display: flex;
    justify-content: flex-start;

    .search-input {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input {
        margin-right: 5px;
        border-radius: 2px;
    }
    button {
        border-radius: 2px;
    }
}