@import './Variables.scss';

.search-input-wrapper {
    // width: 100%;
    margin: auto;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // padding: 40px;
    background-color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

    .input {
        margin-right: 5px;
        width: 300px;
    
    }
    // button {
    //     background-color: $secondary-color;
    //     color: #fff;
    //     padding: 10px;
    //     border: none;
    //     border-radius: 2px;
    //     padding: 10px 30px;
    // }
}