@import './Variables.scss';

.search-input-wrapper {
    margin: auto;
    background-color: $main-color;
    padding: 20px;
    border-bottom: 2px solid #cacaca;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .search-input {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .input {
        margin-right: 5px;
        border-radius: 2px;
        max-width: 300px;
    }
    button {
        border-radius: 2px;
        margin-right: 5px;
    }

    .dropdown {
        button {
            width: 100px;
        }
    }

    .search-filters {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        button {
            width: 140px;
        }
    }
}