.video-item-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 6px;
    box-sizing: border-box;
    width: 100%;
    background-color: #1d1d1d;
    border: 1px solid #3f3f3f;

    .svg-button {
        background: none;
        border: none;
        padding: 0;
        color: #cfcfcf;
    }

    .video-thumbnail {
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        cursor: pointer;    
        background-color: #3f3f3f;
        position: relative;
        padding: 0;
        border: none;
        background-color: transparent;
        
        img {
            border: 1px solid #3f3f3f;
            object-fit: cover;
            height: 110px;
            width: 100%;
        }
    }

    .video-info-container {
        width: 100%;

        .video-title {
            width: 100%;
            h4 {
                width: 100%;
                font-size: 0.8rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .video-stats {
            font-size: 0.8rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 0;

            .stat-box:nth-child(1) {
                margin-bottom: 4px;
            }
        }
    }

    .favorite-box {
        width: 100%;
        font-size: 1.3rem;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

}

@media (max-width: 600px) {

    .video-item-grid {

        .video-thumbnail img {
            height: 80px;
        }

        .video-info-container{
            
            .video-stats {
                font-size: 0.5rem;
            }

            .video-title {
                h4 {
                    font-size: 0.5rem;
                }
            }
    
        }

        .favorite-box {
            font-size: 0.8rem;
        }
    }

}
