
@import './Variables.scss';

.video-item-container {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0px;
    border-radius: 4px;
    margin: auto;
    color: #fff;
    display: flex;
}

.video-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: auto;

    .video-title {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 10px;

        h4 {
            font-size: 1.3rem;
            margin-bottom: 0px;
            margin-bottom: 8px;
        }

    }

    .video-tags {

        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;

        p {
            margin: 0;
            font-size: 0.7rem;
            color: #fff;
            padding: 4px;
            border-radius: 2px;
            background-color: #535353;
            margin-right: 10px;
        }

        .source-youtube {
            background-color: $accent-color;
        }

        .source-vimeo {
            background-color: #2c7ec2;
        }
    }

    .video-desc {
        margin-bottom: 10px;
        font-size: 0.8rem;
        color: #adadad;
        margin-right: 10px;
    }

    .remove-video-btn {
        padding: 3px;
        font-size: 0.8rem;
    }

    .video-stats {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 0.9rem;
        margin-top: auto;
        margin-bottom: 20px;

        .stat-box {
            display: flex;
            align-items: center;
            margin-right: 20px;

            svg {
                color: $accent-color;
            }

            p {
                margin: 0;
                margin-left: 5px;
                color: #fff;
            }
        }
    }
 
}

.row {
    width: 100%;
}

.favorite-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;

    svg {
        cursor: pointer;
    }

    svg:hover {
        color: $accent-color;
    }
}
.play-button {
    margin: auto;
    font-size: 4.5rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}


@media (max-width: 600px) {

    .favorite-box {
        font-size: 1.4rem;
    }

    .video-info {
        .video-desc {
            display: none;
        }

        .video-title h4{
            font-size: 0.9rem;
        }

        .remove-video-btn {
            padding: 3px;
            font-size: 0.6rem;
        }

        .video-stats {
            font-size: 0.6rem;
        }
    }

    .video-info .video-tags p {
        font-size: 0.5rem;
    }
}