
.video-item-container {
    font-family: 'Roboto', sans-serif;
    padding: 10px 0px;
    border-radius: 4px;
    margin: auto;
    color: #fff;
    display: flex;
}

.video-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: auto;

    .video-title {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 10px;

        h4 {
            font-size: 1.3rem;
            margin-bottom: 0px;
            margin-bottom: 8px;
        }

    }

    .video-tags {

        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;

        p {
            margin: 0;
            font-size: 0.7rem;
            color: #fff;
            padding: 4px;
            border-radius: 2px;
            background-color: #535353;
            margin-right: 10px;
        }

        .source-youtube {
            background-color: #f04d4d;
        }

        .source-vimeo {
            background-color: #2c7ec2;
        }
    }

    .video-desc {
        margin-bottom: 10px;
        font-size: 0.8rem;
        color: #adadad;
    }

    .remove-video-btn {
        padding: 3px;
        font-size: 0.8rem;
    }


    .video-stats {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 0.9rem;
        margin-top: auto;
        margin-bottom: 10px;

        .stat-box {
            display: flex;
            align-items: center;
            margin-right: 20px;

            svg {
                color: #f04d4d;
            }

            p {
                margin: 0;
                margin-left: 5px;
                // font-weight: bolder;
                color: #fff;
            }
        }
    }
 
}

.row {
    width: 100%;
}

.favorite-box {
    margin: auto 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;

    svg:hover {
        color: #f04d4d;
    }
}
.play-button {
    margin: auto;
    font-size: 4.5rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.video-item-list {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #3f3f3f;

    .video-thumbnail {
        margin-bottom: 20px;
        position: relative;
        cursor: pointer;    
    }

    img {
        border: 1px solid #3f3f3f;
        width: 100%;
        height: auto;
    }

    .video-info-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    

}

.video-item-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 6px;
    box-sizing: border-box;
    width: 100%;
    background-color: #1d1d1d;
    border: 1px solid #3f3f3f;

    .video-thumbnail {
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        cursor: pointer;    
        background-color: #3f3f3f;
        position: relative;
        
        img {
            border: 1px solid #3f3f3f;
            object-fit: cover;
            height: 150px;
            width: 100%;
        }
    }

    .video-info-container {
        display: inline-block;
        font-size: 15px;
        width: 100%;
        overflow: initial;
        white-space: normal;

        .video-title {
            width: 100%;
            h4 {
                width: 100%;
                font-size: 0.8rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .video-stats {
            font-size: 0.8rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 0;

            .stat-box:nth-child(1) {
                margin-bottom: 4px;
            }
        }
    }

    .favorite-box {
        width: 100%;
        font-size: 1.4rem;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

}